<table width="100%" style="background-color: #f5f5f5; padding: 10px 40px" id="footer">
    <tr>
        <td width="33%">{DATE j/m/Y H:i}</td>
        <td width="33%" align="center">{PAGENO}/{nbpg}</td>
        <td width="33%" align="right"><img src="assets/images/logo-ibrf.png" style="background-color: #f5f5f5" width="120px" /> </td>
    </tr>
</table>